/*
 * Copyright (c) 2023 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

/*
 * Leeloo Rev2 Dongle Keymap
 *
 * This keymap is used by the XIAO BLE dongle to interpret key events
 * received from the peripheral keyboard halves.
 *
 * Instead of duplicating the keymap, we include the main leeloo.keymap
 * file to ensure both the keyboard halves and dongle use identical
 * key mappings.
 *
 * To modify key bindings, edit config/leeloo.keymap - changes will
 * automatically apply to both direct BT mode and dongle mode.
 */

#include "../../../leeloo.keymap"
