if SHIELD_LEELOO_DONGLE

config ZMK_KEYBOARD_NAME
  default "Leeloo Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

config ZMK_SPLIT
  default y

# Set to 2 for left + right halves
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
  default 2

# Set to peripherals (2) + BT profiles (5) + buffer (1)
config BT_MAX_CONN
  default 8

config BT_MAX_PAIRED
  default 8

endif
