/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                              &none &none &none &none &none &none &none &none
            >;
        };
    };
};
