# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LEELOO_DONGLE

config ZMK_KEYBOARD_NAME
    default "Leeloo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# Leeloo has left and right halves, so 2 peripherals
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# 2 peripherals + 5 BT profiles = 7
config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif
