on:
   push:
      paths:
         - "config/**"
   pull_request:
      paths:
         - "config/**"
   workflow_dispatch:

jobs:
   build:
      uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3-branch
